# Pandas

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Indexing

While there are sometimes several ways to index, Pandas documentation suggests using the appropriate indexing functions: "While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, `.at, .iat, .loc and .iloc.`"

See this great answer for more distinction between the two: https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

**Index Single Column by Name**

*As a series*

In [3]:
a = data['sepal_length'].head()

# Or

b = data.sepal_length.head()

# Or

c = data.loc[:, 'sepal_length'].head()  # Preferred!

assert(a.equals(b))
assert(b.equals(c))

c

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

*As a DataFrame*

In [4]:
a = data[['sepal_length']].head()

# Or

b = data.loc[:, ['sepal_length']].head()  # Preferred!

assert(a.equals(b))
b

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

**Index Multiple Columns by Name**

In [5]:
a = data[['sepal_length', 'sepal_width']].head()

# Or

b = data.loc[:, ['sepal_length', 'sepal_width']].head()  # Preferred!
assert(a.equals(b))
b

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

**Indexing by Row Index**

*Single row (series)*

In [6]:
a = data.iloc[1, :]
b = data.iloc[1]
assert a.equals(b)
a

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

*Single row (DataFrame)*

In [7]:
a = data.iloc[[1], :]
b = data.iloc[[1]]
assert a.equals(b)
b

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa

Multiple rows (slice syntax)

In [8]:
a = data[5:].head()

# Or

b = data.iloc[5:].head()  # Preferred
assert a.equals(b)
b

   sepal_length  sepal_width  petal_length  petal_width species
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

**Indexing rows and columns**

In [9]:
data.iloc[:3, :3]

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3

In [10]:
data.iloc[[90, 95], [1, 2, 4]]

    sepal_width  petal_length     species
90          2.6           4.4  versicolor
95          3.0           4.2  versicolor

**By condition**

In [11]:
data.loc[data.species == 'versicolor'].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

### Boolean Indexing

In general, can pass a boolean series with indexing to get appropriate rows / columns

In [33]:
data[data.sepal_length > 6.0].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
54           6.5          2.8           4.6          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor

*By certain column values*

In [29]:
data[data.species.isin(['virginica', 'setosa'])].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Other

**Column names**

In [12]:
# As an index
data.columns

# As a list
list(data)
list(data.columns)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

**Sorting**

Sort by a column (low to high)

In [13]:
data.sort_values(by='sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width species
13           4.3          3.0           1.1          0.1  setosa
42           4.4          3.2           1.3          0.2  setosa
38           4.4          3.0           1.3          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa

High to low:

In [14]:
data.sort_values(by='sepal_length', ascending=False).head()

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica

**WARNING**: `.loc` for accessing rows refers to *labels* of the index, **not** an integer position:

In [ ]:
new_data = data.copy()
new_data.index = range(150, 300)

# Both access the first row!
new_data.loc[150].equals(data.loc[0])

## Apply

*Apply to each column*

In [52]:
data.drop(columns='species').apply(sum)  # Apply to each column

sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
dtype: float64

*Apply to each row*

In [54]:
data.drop(columns='species').apply(sum, axis=1).head()

0    10.2
1     9.5
2     9.4
3     9.4
4    10.2
dtype: float64

## Group By

*Apply mean to each species*

In [56]:
data.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026